    /* Reset styles */
   /* Reset styles */
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
    background-color: #000000;
  }
  
 /* Hero page styles */
.hero-page {
  background-color: #f0f0f0; /* Add your preferred background color */
  background-image: url("images/rgb1141.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  height: 100vh; /* Set height to cover entire viewport height */
  display: flex; /* Use flexbox to center content vertically */
  flex-direction: column; /* Stack child elements vertically */
  justify-content: center; /* Center child elements vertically */
  animation: zoomInOut 8s infinite alternate; /* Animation for zoom in and out effect */
  overflow: hidden; /* Remove scrollbar */
}

@keyframes zoomInOut {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

/* Logo styles */
.logo {
  position: absolute;
  top: 40px;
  left: 60px;
  animation: fadeIn 2s ease-in; /* Animation for fade in effect*/
  mix-blend-mode: lighten;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.logo-img {
  height: 80px;
  width: auto;
}

/* Hero content styles */
.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Navigation styles */
.nav-links ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.nav-links ul li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

/* Social icons styles */
.social-icons {
  margin-bottom: 20px;
}

.social-icons button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  margin: 0 10px;
}
.social-icons button a{
  text-decoration: none;
  color: #fff;
}
.social-icons button i {
  vertical-align: middle;
}

/* Book now button styles */
.book-now-btn {
  background-color: #007bff; /* Add your preferred button color */
  color: white;
  /* padding: 12px 24px; Adjusted padding */
  height: 50px;
  width: 20%;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-now-btn:hover {
  background-color: #0056b3; /* Add your preferred hover color */
}


      
/* ====================media/gallery===================== */
.main-container{
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(0, 0, 20);
    background-color:  #001a33!important;
  }
  .main-container, .gallery-container, .perfomance-container {
    display: flex;
  }
  .gallery-container {
    width: 100%;
    
    justify-content: center;
    gap: 30px 30px;
    display: flex;
  
  }
  .perfomance-container {
    width: 30%;
    height: auto;
    gap: 30px 30px;
    display: flex;
  
    flex-direction: column;
  }
  .perfomance-container img {
    transition: all 1s ease-in-out 0s;
   box-shadow: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
  }
  .perfomance-container img:hover {
    box-shadow: 4px 4px 25px black, inset 2px 2px 2px 10px rgb(0, 0, 20);
   
  }
  
  .greeting {
    text-align: center;
    color: lightblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  }
  .fa-brands {
    font-size: 50px;
  }
  .greeting, .fa-brands {
    text-shadow: 2px 2px 10px lightgray;
    
  }



  /* =========================contact form================== */
 /* Reset CSS */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Global Styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
} */



.contact-container {
    position: relative;
    width: 350px;
    height: 600px; /* Increased height */
    background: rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
    overflow: hidden;
    margin: auto; /* Center the container */
    /* margin-top: 25px; */
    margin-bottom: 50px;
}

.contact-container::before {
    content: "";
    position: absolute;
    height: 750px; /* Adjusted height */
    width: 750px;
    background: conic-gradient(transparent, transparent, transparent, #d400d4);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.contact-container::after {
    content: "";
    position: absolute;
    height: 750px; /* Adjusted height */
    width: 750px;
    background: conic-gradient(transparent, transparent, transparent, #00cfff);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.image {
    position: absolute;
    inset: 5px;
    background-color: #0c1022;
    z-index: 1;
    border-radius: 16px;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.form-box .form h2 {
    font-size: 32px;
    color: #fff;
    text-align: center;
}

.form .input-box {
    position: relative;
    margin: 20px 0; /* Adjusted margin */
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #fff;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.input-box label {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}

.group {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.group a {
    position: relative;
    top: -15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

button {
    margin-top: 10px; /*added margin */
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

button:focus {
    color: #fff;
    background-color: #0c1022;
    border: 2px solid #fff;
}


.perfomance-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    
        overflow-clip-margin: content-box;
        overflow: clip;
        /* overflow-x: ;/ */
        /* overflow-y: ; */
}
/* Medium Screens */
/* @media only screen and (max-width: 1023px) {
    .contact-container {
        width: 70%;
        padding-inline: 24px;
        margin-top: 20px;
    }

    .contact-container::before,
    .contact-container::after {
        height: 600px;
        width: 600px;
    }
} */

/* Mobile Screens */
@media only screen and (max-width: 767px) {
    .contact-container {
        width: 80%;
        padding-inline: 10px;
        margin-top: 15px;
        margin-bottom: 0; /* Adjusted margin to remove the bottom gap */
    }

    .contact-container::before,
    .contact-container::after {
        height: 450px;
        width: 450px;
    }

    .form-box {
        margin-bottom: 20px;
    }

    .form .input-box {
        width: 100%;
        margin: 20px 0;
    }
}
/* ========================================================== */
/* gallery */
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
    color: #fff;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid black;
}

.container img {
    transition: all 1s ease-in-out 0s;
    box-shadow: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
}

.container img:hover {
    transition: all 1s ease-in-out 0s;
    box-shadow: 2px 2px 20px gray, inset 2px 2px 10px lightgray;
}

/* Grid */
.container {
    width: auto; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 125px;
    grid-auto-flow: dense; /* Fill all spaces with fitted images */
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}
.wrapper {
  width: 100vw; /* Set width to cover entire viewport width */
  height: 100vh; /* Set height to cover entire viewport height */
}
.wrapper h1{
  align-items: center;
  padding: 50px;
}
/* Media Queries */

@media screen and (min-width: 1024px) {
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
}

/* ========================================================= */

/* about section */
 
  /* Introduction section styles */
  .introduction-section {
    /* background-color: #001a33; */
    color: #fff;
    text-align: center;
    padding: 50px 20px; /* Adjust the padding as needed */
    height: 100vh;
  }

  .introduction-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .introduction-section p {
    font-size: 18px;
    line-height: 1.5;
  }
